<rich:toolBar xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:rich="http://richfaces.org/rich">
	<rich:toolBarGroup>
		<h:outputText value="#{projectName}:" />
		<s:link view="/home.xhtml" value="Home" />
	</rich:toolBarGroup>
	<!-- @newMenuItem@ -->
	<rich:toolBarGroup location="right">
		<s:link view="/home.xhtml" action="#{identity.logout}" value="Logout"
			rendered="#{identity.loggedIn}" />
	</rich:toolBarGroup>
</rich:toolBar>
