<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:s="http://jboss.com/products/seam/taglib">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>http_project</title>
<link href="stylesheet/theme.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<ui:include src="menu.xhtml">
		<ui:param name="projectName" value="http_project" />
	</ui:include>

	<div class="body">
		<ui:insert name="body" />
	</div>

</body>
</html>
