<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a="http://richfaces.org/a4j" template="layout/template.xhtml">

	<ui:define name="body">

		<rich:messages styleClass="message" id="messages" />

		<h:form id="CalendarForm">

			<rich:panel style="width: 200px; height: 65px">
				<f:facet name="header">Selecione uma data</f:facet>
				<rich:calendar value="#{Calendario.date}" />
				<a:commandLink id="calendario" value="Enviar"
					action="#{Calendario.send}" reRender="messages, CalendarForm">
				</a:commandLink>

			</rich:panel>

		</h:form>

	</ui:define>


</ui:composition>
